<form id="myform" class="fs-form fs-form-full" autocomplete="off">
					<ol class="fs-fields">
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" data-info="We'll make sure to use it all over">Please select the course to register</label>
							<select class="cs-select cs-skin-boxes fs-anim-lower">
								<option value="" disabled selected></option>
								<option value="#588c75" data-class="color-588c75">COURSES</option>
								<option value="#b0c47f" data-class="color-b0c47f">COURSES</option>
								<option value="#f3e395" data-class="color-f3e395">COURSES</option>
								<option value="#f3ae73" data-class="color-f3ae73">COURSES</option>
								<option value="#da645a" data-class="color-da645a">COURSES</option>
								<option value="#79a38f" data-class="color-79a38f">COURSES</option>
								<option value="#c1d099" data-class="color-c1d099">COURSES</option>
								<option value="#f5eaaa" data-class="color-f5eaaa">COURSES</option>
								<option value="#f5be8f" data-class="color-f5be8f">COURSES</option>
								<option value="#e1837b" data-class="color-e1837b">COURSES</option>
								<option value="#9bbaab" data-class="color-9bbaab">COURSES</option>
								<option value="#d1dcb2" data-class="color-d1dcb2">COURSES</option>
								<option value="#f9eec0" data-class="color-f9eec0">COURSES</option>
								<option value="#f7cda9" data-class="color-f7cda9">COURSES</option>
								<option value="#e8a19b" data-class="color-e8a19b">COURSES</option>
								<option value="#bdd1c8" data-class="color-bdd1c8">COURSES</option>
								<option value="#e1e7cd" data-class="color-e1e7cd">COURSES</option>
								<option value="#faf4d4" data-class="color-faf4d4">COURSES</option>
								<option value="#fbdfc9" data-class="color-fbdfc9">#fbdfc9</option>
								<option value="#f1c1bd" data-class="color-f1c1bd">#f1c1bd</option>
							</select>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's the estimated time to complete</label>
							<input class="fs-anim-lower" id="q2" name="q2" type="email" placeholder="dean@road.us" required/>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="q3" data-info="This will help us know what kind of service you need">What's your priority for your new website?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								<span><input id="q3b" name="q3" type="radio" value="conversion"/><label for="q3b" class="radio-conversion">Sell things</label></span>
								<span><input id="q3c" name="q3" type="radio" value="social"/><label for="q3c" class="radio-social">Become famous</label></span>
								<span><input id="q3a" name="q3" type="radio" value="mobile"/><label for="q3a" class="radio-mobile">Mobile market</label></span>
							</div>
						</li>
						
						<li>
							<label class="fs-field-label fs-anim-upper" for="q4">Describe how you imagine your new website</label>
							<textarea class="fs-anim-lower" id="q4" name="q4" placeholder="Describe here"></textarea>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q5">What's your budget?</label>
							<input class="fs-mark fs-anim-lower" id="q5" name="q5" type="number" placeholder="1000" step="100" min="100"/>
						</li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Send answers</button>
				</form><!-- /fs-form -->